{% extends 'base.html.twig' %}

{% block title %}Hello MainController!!{% endblock %}

{% block body %}

    <h1>Digital Artist</h1>

    <div class="tags">
        {% for tag in tags %}
            <button> {{tag.name}}</button>
        {% endfor %}
    </div>

    <div class="lastPicture">

        {% for artwork in artworks %}
                <div class="card">
                    <a href="{{ artwork.id }}"><img class="picture" src="{{ artwork.picture }}" alt="{{ artwork.title }}">   
                     

                        <div class="title">
                            <p>{{ artwork.title }} </p>
                        </div>  
                    </a> 
                </div>
        {% endfor %}

    </div>    
{% endblock %}
