{% extends 'base.html.twig' %}

{% block title %}Digital Artist{% endblock %}

{% block body %}


{#     <div class="tags">
        {% for tag in tags %}
            <button > {{tag.name}}</button>
        {% endfor %}
    </div>
 #}
 <h2>Mes dernières créations : </h2>
    <div class="lastPicture">

        {% for artwork in artworks %}
                <div class="card">
                    <a href="{{ path('app_show', {'id': artwork.id}) }}"><img class="picture" src="{{ artwork.picture }}" alt="{{ artwork.title }}">   
                     

                        <div class="title">
                            <p>{{ artwork.title }} </p>
                        </div>  
                    </a> 
                </div>
        {% endfor %}

    </div>    
{% endblock %}
