{% extends 'base.html.twig' %}

{% block title %}Hello MainController!!{% endblock %}

{% block body %}

    <h1>Liste des Artworks</h1>

    <ul>
        {% for artwork in artworks %}
            <li>
                <h2>{{ artwork.title }}</h2>
                <p>{{ artwork.description }}</p>
                <img src="{{ artwork.picture }}" alt="{{ artwork.title }}" style="max-width: 400px;">
                <p>Date de création du dessin : {{ artwork.drawingCreatedAt|date('d/m/Y') }}</p>
                <p>Tags :</p>
                <ul>
                    {% for tag in artwork.getTag() %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
