{% extends 'base.html.twig' %}

{% block title %}Artwork index{% endblock %}

{% block body %}
    <h1>Artwork index</h1>

    <a href="{{ path('app_back_artwork_new') }}"><button class="back-button">Nouveau Dessin</button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image   </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.title }}</td>
                <td><img class="miniature-image" src="{{artwork.picture }}" </td>
                <td class="form-button">
                   <button> <a href="{{ path('app_back_artwork_show', {'id': artwork.id}) }}">Détails</a></button>
                   <button> <a href="{{ path('app_back_artwork_edit', {'id': artwork.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
