{% extends 'base.html.twig' %}


    {% block title %}
        {{tag.name}}
    {% endblock %}
    {% block meta_description %}
    Plongez dans l'univers créatif du digital : science-fiction, culture geek, art visuel. Chaque pixel raconte une histoire.
    {% endblock %}

    {% block body %}
<div class="tagPresentation">
    <h2>{{tag.name}}</h2>
    <p>{{tag.description}}</p>
</div>

<div class="lastPicture">

    {% for artworkTag in artworkTags %}
        <div class="card">
                <a href="{{ path('app_show', {'id': artworkTag.id}) }}"><img class="picture" src="data:image/jpeg;base64,{{ artworkTag.pictureMin }}" alt="{{ artworkTag.title }}">   
                

                    <div class="title">
                        <p>{{ artworkTag.title }} </p>
                    </div>  
                </a> 
            </div>
    {% endfor %}

</div>    
{% endblock %}