{% extends 'base.html.twig' %}

{% block title %}Tag index{% endblock %}

{% block body %}
    <h2>Les categories</h2>

    <a href="{{ path('app_back_tag_new') }}"><button class="back-button">Nouveau Tag</button></a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>{{ tag.description }}</td>
                <td class="form-button" >
                   <button> <a href="{{ path('app_back_tag_show', {'id': tag.id}) }}">Détails</a> </button>
                  <button>  <a href="{{ path('app_back_tag_edit', {'id': tag.id}) }}">Modifier</a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
